data/xml_schemas/GuVXSD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="eBilanzPostenAllgemein.xsd"/>
	<xs:element name="GUV">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="HGB_231_2_29"/>
					<xs:element ref="HGB_231_2_22"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_231_2_29">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POSTENZEILE" type="POSTEN"/>
				<xs:element ref="HGB_231_2_22"/>
				<xs:element ref="HGB_231_2_24" minOccurs="0"/>
				<xs:element ref="HGB_231_2_25" minOccurs="0"/>
				<xs:element ref="HGB_231_2_27" minOccurs="0"/>
				<xs:element name="HGB_232_3" type="POSTENZEILE_SUB" minOccurs="0"/>
				<xs:element name="HGB_231_2_28" type="POSTENZEILE_SUB" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_231_2_22">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POSTENZEILE" type="POSTEN"/>
				<xs:element ref="HGB_231_2_30"/>
				<xs:element name="HGB_231_2_31" type="POSTENZEILE_SUB"  minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_231_2_30">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POSTENZEILE" type="POSTEN"/>
				<xs:element ref="HGB_231_2_17"/>
				<xs:element ref="HGB_231_2_21" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_231_2_17">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POSTENZEILE" type="POSTEN"/>
				<xs:element ref="HGB_231_2_9" minOccurs="0"/>
				<xs:element ref="HGB_231_2_16" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_231_2_9">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POSTENZEILE" type="POSTEN"/>
				<xs:choice minOccurs="0">
					<xs:sequence>
						<xs:element ref="HGB_231_2_HGB_279"/>
						<xs:element ref="HGB_231_2_4" minOccurs="0"/>
					</xs:sequence>
					<xs:sequence>
						<xs:element ref="HGB_231_2_1" minOccurs="0"/>
						<xs:element ref="HGB_231_2_2" minOccurs="0"/>
						<xs:element ref="HGB_231_2_3" minOccurs="0"/>
						<xs:element ref="HGB_231_2_4" minOccurs="0"/>
						<xs:element ref="HGB_231_2_5" minOccurs="0"/>
					</xs:sequence>
				</xs:choice>
				<xs:sequence>
					<xs:element ref="HGB_231_2_6" minOccurs="0"/>
					<xs:element ref="HGB_231_2_7" minOccurs="0"/>
					<xs:element ref="HGB_231_2_8" minOccurs="0"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_231_2_HGB_279" type="POSTENZEILE_SUB"/>
	<xs:element name="HGB_231_2_1" type="POSTENZEILE_SUB"/>
	<xs:element name="HGB_231_2_2" type="POSTENZEILE_SUB"/>
	<xs:element name="HGB_231_2_3" type="POSTENZEILE_SUB"/>
	<xs:element name="HGB_231_2_4">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POSTENZEILE" type="POSTEN"/>
				<xs:element ref="HGB_231_2_4_a" minOccurs="0"/>
				<xs:element name="HGB_231_2_4_b" type="POSTENZEILE_SUB" minOccurs="0"/>
				<xs:element name="HGB_231_2_4_c" type="POSTENZEILE_SUB" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_231_2_4_a">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POSTENZEILE" type="POSTEN"/>
				<xs:element name="HGB_231_2_4_x" type="POSTENZEILE_SIMPLE" minOccurs="0"/>
				<xs:element name="HGB_231_2_4_y" type="POSTENZEILE_SIMPLE" minOccurs="0"/>
				<xs:element name="FREI" type="POSTENZEILE_SIMPLE_FREI" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_231_2_5">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POSTENZEILE" type="POSTEN"/>
				<xs:element name="HGB_231_2_5_a" type="POSTENZEILE_SUB" minOccurs="0"/>
				<xs:element name="HGB_231_2_5_b" type="POSTENZEILE_SUB" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_231_2_6">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POSTENZEILE" type="POSTEN"/>
				<xs:choice>
					<xs:sequence>
						<xs:element name="HGB_231_2_6_a" type="POSTENZEILE_SUB" minOccurs="0"/>
						<xs:element name="HGB_231_2_6_b" type="POSTENZEILE_SUB" minOccurs="0"/>
					</xs:sequence>
					<xs:element ref="HGB_231_2_6_h" minOccurs="0"/>
				</xs:choice>
				<xs:sequence>
					<xs:element ref="HGB_231_2_6_g" minOccurs="0"/>
					<xs:element name="FREI" type="POSTEN_FREI_SUB" minOccurs="0" maxOccurs="unbounded"/>				
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_231_2_6_h" type="POSTENZEILE_SUB"/>
	<xs:element name="HGB_231_2_6_g">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POSTENZEILE" type="POSTEN"/>
				<xs:sequence>
					<xs:element name="HGB_231_2_6_d" type="POSTENZEILE_SIMPLE" minOccurs="0"/>
					<xs:element name="FREI" type="POSTENZEILE_SIMPLE_FREI" minOccurs="0" maxOccurs="unbounded"/>				
					<xs:element name="HGB_231_2_6_c" type="POSTENZEILE_SIMPLE" minOccurs="0"/>
					<xs:element name="FREI1" type="POSTENZEILE_SIMPLE_FREI" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="FREI2" type="POSTENZEILE_SIMPLE_FREI" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="HGB_231_2_6_e" type="POSTENZEILE_SIMPLE" minOccurs="0"/>
					<xs:element name="FREI3" type="POSTENZEILE_SIMPLE_FREI" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_231_2_7">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POSTENZEILE" type="POSTEN"/>
				<xs:element ref="HGB_231_2_7_a" minOccurs="0"/>
				<xs:element name="HGB_231_2_7_b" type="POSTENZEILE_SUB" minOccurs="0"/>
				<xs:element name="HGB_231_2_7_HGB_207" type="POSTENZEILE_SUB" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_231_2_7_a">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POSTENZEILE" type="POSTEN"/>
				<xs:element name="HGB_231_2_7_a_HGB_232" type="POSTENZEILE_SIMPLE" minOccurs="0"/>
				<xs:element name="FREI" type="POSTENZEILE_SIMPLE_FREI" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_231_2_8">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POSTENZEILE" type="POSTEN"/>
				<xs:element name="HGB_231_2_8_a" type="POSTENZEILE_SUB" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_231_2_16">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POSTENZEILE" type="POSTEN"/>
				<xs:element ref="HGB_231_2_10" minOccurs="0"/>
				<xs:element ref="HGB_231_2_11" minOccurs="0"/>
				<xs:element ref="HGB_231_2_12" minOccurs="0"/>
				<xs:element name="HGB_231_2_13" type="POSTENZEILE_SUB" minOccurs="0"/>
				<xs:element ref="HGB_231_2_14" minOccurs="0"/>
				<xs:element ref="HGB_231_2_15" minOccurs="0"/>
				<xs:element name="FREI" type="POSTEN_FREI_SUB" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_231_2_10">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POSTENZEILE" type="POSTEN"/>
				<xs:element ref="HGB_231_2_10_x" minOccurs="0"/>
				<xs:element name="FREI" type="POSTENZEILE_SIMPLE_FREI" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_231_2_10_x" type="POSTENZEILE_SIMPLE"/>
	<xs:element name="HGB_231_2_11">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POSTENZEILE" type="POSTEN"/>
				<xs:element ref="HGB_231_2_11_x" minOccurs="0"/>
				<xs:element name="FREI" type="POSTENZEILE_SIMPLE_FREI" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_231_2_11_x" type="POSTENZEILE_SIMPLE"/>
	<xs:element name="HGB_231_2_12">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POSTENZEILE" type="POSTEN"/>
				<xs:element ref="HGB_231_2_12_x" minOccurs="0"/>
				<xs:element name="FREI" type="POSTENZEILE_SIMPLE_FREI" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_231_2_12_x" type="POSTENZEILE_SIMPLE"/>
	<xs:element name="HGB_231_2_14">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POSTENZEILE" type="POSTEN"/>
				<xs:element ref="HGB_231_2_14_a" minOccurs="0"/>
				<xs:element ref="HGB_231_2_14_b" minOccurs="0"/>
				<xs:element name="FREI" type="POSTENZEILE_SIMPLE_FREI" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_231_2_14_a" type="POSTENZEILE_SIMPLE"/>
	<xs:element name="HGB_231_2_14_b" type="POSTENZEILE_SIMPLE"/>
	<xs:element name="HGB_231_2_15">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POSTENZEILE" type="POSTEN"/>
				<xs:element ref="HGB_231_2_15_x" minOccurs="0"/>
				<xs:element name="FREI" type="POSTENZEILE_SIMPLE_FREI" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_231_2_15_x" type="POSTENZEILE_SIMPLE"/>
	<xs:element name="HGB_231_2_21">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POSTENZEILE" type="POSTEN"/>
				<xs:element name="HGB_231_2_21_HGB_234_x" type="POSTENZEILE_SIMPLE" minOccurs="0"/>
				<xs:element name="HGB_231_2_21_HGB_234_y" type="POSTENZEILE_SIMPLE" minOccurs="0"/>
				<xs:element name="FREI" type="POSTENZEILE_SIMPLE_FREI" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_231_2_24">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POSTENZEILE" type="POSTEN"/>
				<xs:element ref="HGB_231_2_24_HGB_224_3_A_II_1" minOccurs="0"/>
				<xs:element ref="HGB_231_2_24_HGB_224_3_A_II_2" minOccurs="0"/>
				<xs:element name="FREI" type="POSTEN_FREI_SUB" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="XXX_224_3_B_X" type="POSTENZEILE_SUB" minOccurs="0"/>
				<xs:element name="FREI1" type="POSTEN_FREI_SUB" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_231_2_24_HGB_224_3_A_II_1">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POSTENZEILE" type="POSTEN"/>
				<xs:element ref="HGB_231_2_24_HGB_224_3_A_II_1_x" minOccurs="0"/>
				<xs:element name="FREI" type="POSTENZEILE_SIMPLE_FREI" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_231_2_24_HGB_224_3_A_II_1_x" type="POSTENZEILE_SIMPLE"/>
	<xs:element name="HGB_231_2_24_HGB_224_3_A_II_2" type="POSTENZEILE_SUB"/>
	<xs:element name="HGB_231_2_25">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POSTENZEILE" type="POSTEN"/>
				<xs:element ref="HGB_231_2_25_HGB_224_3_A_III_1" minOccurs="0"/>
				<xs:element name="FREI" type="POSTEN_FREI_SUB" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="HGB_231_2_25_HGB_224_3_A_III_2" minOccurs="0"/>
				<xs:element name="FREI1" type="POSTEN_FREI_SUB" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="HGB_231_2_25_HGB_224_3_A_III_3" minOccurs="0"/>
				<xs:element name="FREI2" type="POSTEN_FREI_SUB" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_231_2_25_HGB_224_3_A_III_1" type="POSTENZEILE_SUB"/>
	<xs:element name="HGB_231_2_25_HGB_224_3_A_III_2" type="POSTENZEILE_SUB"/>
	<xs:element name="HGB_231_2_25_HGB_224_3_A_III_3" type="POSTENZEILE_SUB"/>
	<xs:element name="HGB_231_2_27">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POSTENZEILE" type="POSTEN"/>
				<xs:element ref="HGB_231_2_27_HGB_224_3_A_III_1" minOccurs="0"/>
				<xs:element name="FREI" type="POSTEN_FREI_SUB" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="HGB_231_2_27_HGB_224_3_A_III_2" minOccurs="0"/>
				<xs:element name="FREI1" type="POSTEN_FREI_SUB" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="HGB_231_2_27_HGB_224_3_A_III_3" minOccurs="0"/>
				<xs:element name="FREI2" type="POSTEN_FREI_SUB" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_231_2_27_HGB_224_3_A_III_1" type="POSTENZEILE_SUB"/>
	<xs:element name="HGB_231_2_27_HGB_224_3_A_III_2" type="POSTENZEILE_SUB"/>
	<xs:element name="HGB_231_2_27_HGB_224_3_A_III_3" type="POSTENZEILE_SUB"/>
	
	
	<xs:element name="GUV_U">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="HGB_231_3_28"/>
					<xs:element ref="HGB_231_3_21"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_231_3_28">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POSTENZEILE" type="POSTEN"/>
				<xs:element ref="HGB_231_3_21"/>
				<xs:element ref="HGB_231_3_23" minOccurs="0"/>
				<xs:element ref="HGB_231_3_24" minOccurs="0"/>
				<xs:element ref="HGB_231_3_26" minOccurs="0"/>
				<xs:element name="HGB_232_3" type="POSTENZEILE_SUB" minOccurs="0"/>
				<xs:element name="HGB_231_3_27" type="POSTENZEILE_SUB" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	
	<xs:element name="HGB_231_3_21">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POSTENZEILE" type="POSTEN"/>
				<xs:element ref="HGB_231_3_30"/>
				<xs:element name="HGB_231_3_31" type="POSTENZEILE_SUB"  minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_231_3_30">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POSTENZEILE" type="POSTEN"/>
				<xs:element ref="HGB_231_3_16"/>
				<xs:element ref="HGB_231_3_20" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	
	<xs:element name="HGB_231_3_16">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POSTENZEILE" type="POSTEN"/>
				<xs:element ref="HGB_231_3_8" minOccurs="0"/>
				<xs:element ref="HGB_231_3_15" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_231_3_8">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POSTENZEILE" type="POSTEN"/>
				<xs:choice>
					<xs:element ref="HGB_231_3_HGB_279" minOccurs="0"/>
					<xs:sequence>
						<xs:element ref="HGB_231_3_1" minOccurs="0"/>
						<xs:element ref="HGB_231_3_2" minOccurs="0"/>
						<xs:element ref="HGB_231_3_3" minOccurs="0"/>
					</xs:sequence>
				</xs:choice>
				<xs:sequence>
					<xs:element ref="HGB_231_3_5" minOccurs="0"/>
					<xs:element ref="HGB_231_3_6" minOccurs="0"/>
					<xs:element ref="HGB_231_3_4" minOccurs="0"/>
					<xs:element ref="HGB_231_3_7" minOccurs="0"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_231_3_HGB_279" type="POSTENZEILE_SUB"/>
	<xs:element name="HGB_231_3_1" type="POSTENZEILE_SUB"/>
	<xs:element name="HGB_231_3_2" type="POSTENZEILE_SUB"/>
	<xs:element name="HGB_231_3_3" type="POSTENZEILE_SIMPLE"/>
	<xs:element name="HGB_231_3_4">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POSTENZEILE" type="POSTEN"/>
				<xs:element ref="HGB_231_3_4_a" minOccurs="0"/>
				<xs:element ref="HGB_231_3_4_b" minOccurs="0"/>
				<xs:element ref="HGB_231_3_4_c" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_231_3_4_a">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POSTENZEILE" type="POSTEN"/>
				<xs:element ref="HGB_231_3_4_x" minOccurs="0"/>
				<xs:element ref="HGB_231_3_4_y" minOccurs="0"/>
				<xs:element name="FREI" type="POSTENZEILE_SIMPLE_FREI" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_231_3_4_x" type="POSTENZEILE_SIMPLE"/>
	<xs:element name="HGB_231_3_4_y" type="POSTENZEILE_SIMPLE"/>
	<xs:element name="HGB_231_3_4_b" type="POSTENZEILE_SUB"/>
	<xs:element name="HGB_231_3_4_c" type="POSTENZEILE_SUB"/>
	<xs:element name="HGB_231_3_5" type="POSTENZEILE_SUB"/>
	<xs:element name="HGB_231_3_6" type="POSTENZEILE_SUB"/>
	<xs:element name="HGB_231_3_7">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POSTENZEILE" type="POSTEN"/>
				<xs:element ref="HGB_231_3_8_a" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_231_3_8_a" type="POSTENZEILE_SUB"/>
	<xs:element name="HGB_231_3_15">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POSTENZEILE" type="POSTEN"/>
				<xs:element ref="HGB_231_3_9" minOccurs="0"/>
				<xs:element ref="HGB_231_3_10" minOccurs="0"/>
				<xs:element ref="HGB_231_3_11" minOccurs="0"/>
				<xs:element ref="HGB_231_3_12" minOccurs="0"/>
				<xs:element ref="HGB_231_3_13" minOccurs="0"/>
				<xs:element ref="HGB_231_3_14" minOccurs="0"/>
				<xs:element name="FREI" type="POSTEN_FREI_SUB" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_231_3_9">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POSTENZEILE" type="POSTEN"/>
				<xs:element ref="HGB_231_3_9_a" minOccurs="0"/>
				<xs:element name="FREI" type="POSTENZEILE_SIMPLE_FREI" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_231_3_9_a" type="POSTENZEILE_SIMPLE"/>
	<xs:element name="HGB_231_3_10">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POSTENZEILE" type="POSTEN"/>
				<xs:element ref="HGB_231_3_10_a" minOccurs="0"/>
				<xs:element name="FREI" type="POSTENZEILE_SIMPLE_FREI" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_231_3_10_a" type="POSTENZEILE_SIMPLE"/>
	<xs:element name="HGB_231_3_11">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POSTENZEILE" type="POSTEN"/>
				<xs:element ref="HGB_231_3_11_a" minOccurs="0"/>
				<xs:element name="FREI" type="POSTENZEILE_SIMPLE_FREI" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_231_3_11_a" type="POSTENZEILE_SIMPLE"/>
	<xs:element name="HGB_231_3_12" type="POSTENZEILE_SIMPLE"/>
	<xs:element name="HGB_231_3_13">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POSTENZEILE" type="POSTEN"/>
				<xs:element ref="HGB_231_3_13_a" minOccurs="0"/>
				<xs:element ref="HGB_231_3_13_b" minOccurs="0"/>
				<xs:element name="FREI" type="POSTENZEILE_SIMPLE_FREI" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_231_3_13_a" type="POSTENZEILE_SIMPLE"/>
	<xs:element name="HGB_231_3_13_b" type="POSTENZEILE_SIMPLE"/>
	<xs:element name="HGB_231_3_14">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POSTENZEILE" type="POSTEN"/>
				<xs:element ref="HGB_231_3_14_a" minOccurs="0"/>
				<xs:element name="FREI" type="POSTENZEILE_SIMPLE_FREI" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_231_3_14_a" type="POSTENZEILE_SIMPLE"/>
	<xs:element name="HGB_231_3_20">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POSTENZEILE" type="POSTEN"/>
				<xs:element ref="HGB_231_3_20_HGB_234_x" minOccurs="0"/>
				<xs:element ref="HGB_231_3_20_HGB_234_y" minOccurs="0"/>
				<xs:element name="FREI" type="POSTENZEILE_SIMPLE_FREI" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_231_3_20_HGB_234_x" type="POSTENZEILE_SIMPLE"/>
	<xs:element name="HGB_231_3_20_HGB_234_y" type="POSTENZEILE_SIMPLE"/>
	<xs:element name="HGB_231_3_23">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POSTENZEILE" type="POSTEN"/>
				<xs:element ref="HGB_231_3_23_HGB_224_3_A_II_1" minOccurs="0"/>
				<xs:element ref="HGB_231_3_23_HGB_224_3_A_II_2" minOccurs="0"/>
				<xs:element name="FREI" type="POSTEN_FREI_SUB" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="XXX_224_3_B_X" type="POSTENZEILE_SUB" minOccurs="0"/>
				<xs:element name="FREI1" type="POSTEN_FREI_SUB" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_231_3_23_HGB_224_3_A_II_1">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POSTENZEILE" type="POSTEN"/>
				<xs:element ref="HGB_231_3_23_HGB_224_3_A_II_1_x" minOccurs="0"/>
				<xs:element name="FREI" type="POSTENZEILE_SIMPLE_FREI" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_231_3_23_HGB_224_3_A_II_1_x" type="POSTENZEILE_SIMPLE"/>
	<xs:element name="HGB_231_3_23_HGB_224_3_A_II_2" type="POSTENZEILE_SUB"/>
	<xs:element name="HGB_231_3_24">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POSTENZEILE" type="POSTEN"/>
				<xs:element ref="HGB_231_3_24_HGB_224_3_A_III_1" minOccurs="0"/>
				<xs:element name="FREI" type="POSTEN_FREI_SUB" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="HGB_231_3_24_HGB_224_3_A_III_2" minOccurs="0"/>
				<xs:element name="FREI1" type="POSTEN_FREI_SUB" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="HGB_231_3_24_HGB_224_3_A_III_3" minOccurs="0"/>
				<xs:element name="FREI2" type="POSTEN_FREI_SUB" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_231_3_24_HGB_224_3_A_III_1" type="POSTENZEILE_SUB"/>
	<xs:element name="HGB_231_3_24_HGB_224_3_A_III_2" type="POSTENZEILE_SUB"/>
	<xs:element name="HGB_231_3_24_HGB_224_3_A_III_3" type="POSTENZEILE_SUB"/>
	<xs:element name="HGB_231_3_26">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POSTENZEILE" type="POSTEN"/>
				<xs:element ref="HGB_231_3_26_HGB_224_3_A_III_1" minOccurs="0"/>
				<xs:element name="FREI" type="POSTEN_FREI_SUB" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="HGB_231_3_26_HGB_224_3_A_III_2" minOccurs="0"/>
				<xs:element name="FREI1" type="POSTEN_FREI_SUB" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="HGB_231_3_26_HGB_224_3_A_III_3" minOccurs="0"/>
				<xs:element name="FREI2" type="POSTEN_FREI_SUB" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_231_3_26_HGB_224_3_A_III_1" type="POSTENZEILE_SUB"/>
	<xs:element name="HGB_231_3_26_HGB_224_3_A_III_2" type="POSTENZEILE_SUB"/>
	<xs:element name="HGB_231_3_26_HGB_224_3_A_III_3" type="POSTENZEILE_SUB"/>
</xs:schema>
