etl/xml_schemas/eBilanzPostenAllgemein.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="negativepositiveBetrag">
		<xs:restriction base="xs:decimal">
			<xs:maxInclusive value="999999999999.99"/>
			<xs:minInclusive value="-999999999999.99"/>
			<xs:totalDigits value="14"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="positiveBetrag">
		<xs:restriction base="xs:decimal">
			<xs:maxInclusive value="999999999999.99"/>
			<xs:minInclusive value="0.00"/>
			<xs:totalDigits value="14"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="negativeBetrag">
		<xs:restriction base="xs:decimal">
			<xs:maxInclusive value="0.00"/>
			<xs:minInclusive value="-999999999999.99"/>
			<xs:totalDigits value="14"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="datumtype">
		<xs:restriction base="xs:string">
			<xs:enumeration value="datum"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="uhrzeittype">
		<xs:restriction base="xs:string">
			<xs:enumeration value="uhrzeit"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="plz">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
			<xs:minLength value="1"/>
			<xs:pattern value="[0-9,a-z,A-Z,\-]{1,10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="soft">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9,a-z,A-Z,\-\.]{3,25}"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Zeichensatz inkl. Raute und Unterstrich -->
	<xs:simpleType name="zsAllgemein">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-zA-Z ÀÁÂÃÄÅÆÇÈÉÊËÌÍÎÏÐÑÒÓÔÕÖØÙÚÛÜÝÞßàáâãäåæçèéêëìíîïðñòóôõöøùúûüýþÿĀāĂăĄąĆćĈĉĊċČčĎďĐđĒēĔĕĖėĘęĚěĜĝĞğĠġĢģĤĥĦħĨĩĪīĬĭĮįİıĲĳĴĵĶķĸĹĺĻļĽľĿŀŁłŃńŅņŇňŉŊŋŌōŎŏŐőŒœŔŕŖŗŘřŚśŜŝŞşŠšŢţŤťŦŧŨũŪūŬŭŮůŰűŲųŴŵŶŷŸŹźŻżŽžſƒǺǻǼǽǾǿȘșȚțẀẁẂẃẄẅỲỳ!$&amp;&quot;\(\),;\[%&apos;\]\{\}\*\+\-\./:=\?@|\\\^`~¡¢£¤¥¦§¨©ª«¬­®¯°±²³´µ¶·¸¹º»¼½¾¿×÷€™&lt;&gt;_#]*"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Zeichensatz exkl. Raute und Unterstrich -->
	<xs:simpleType name="zsName">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-zA-Z ÀÁÂÃÄÅÆÇÈÉÊËÌÍÎÏÐÑÒÓÔÕÖØÙÚÛÜÝÞßàáâãäåæçèéêëìíîïðñòóôõöøùúûüýþÿĀāĂăĄąĆćĈĉĊċČčĎďĐđĒēĔĕĖėĘęĚěĜĝĞğĠġĢģĤĥĦħĨĩĪīĬĭĮįİıĲĳĴĵĶķĸĹĺĻļĽľĿŀŁłŃńŅņŇňŉŊŋŌōŎŏŐőŒœŔŕŖŗŘřŚśŜŝŞşŠšŢţŤťŦŧŨũŪūŬŭŮůŰűŲųŴŵŶŷŸŹźŻżŽžſƒǺǻǼǽǾǿȘșȚțẀẁẂẃẄẅỲỳ!$&amp;&quot;\(\),;\[%&apos;\]\{\}\*\+\-\./:=\?@|\\\^`~¡¢£¤¥¦§¨©ª«¬­®¯°±²³´µ¶·¸¹º»¼½¾¿×÷€™&lt;&gt;]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="zsAllgemein20">
		<xs:restriction base="zsAllgemein">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="zsName20">
		<xs:restriction base="zsName">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="zsAllgemein37">
		<xs:restriction base="zsAllgemein">
			<xs:minLength value="1"/>
			<xs:maxLength value="37"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="zsAllgemein38">
		<xs:restriction base="zsAllgemein">
			<xs:minLength value="1"/>
			<xs:maxLength value="38"/>
		</xs:restriction>
	</xs:simpleType>
		<xs:simpleType name="zsName38">
		<xs:restriction base="zsName">
			<xs:minLength value="1"/>
			<xs:maxLength value="38"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="zsAllgemein40">
		<xs:restriction base="zsAllgemein">
			<xs:minLength value="1"/>
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="zsAllgemein1000">
		<xs:restriction base="zsAllgemein">
			<xs:minLength value="1"/>
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="einord">
		<xs:restriction base="xs:string">
			<xs:enumeration value="W"/>
			<xs:enumeration value="K"/>
			<xs:enumeration value="M"/>
			<xs:enumeration value="G"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="fastnr">
		<xs:restriction base="xs:string">
			<xs:maxLength value="9"/>
			<xs:minLength value="9"/>
			<xs:pattern value="\d{9}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Attribut Beschreibung von Anhängen -->
	<xs:simpleType name="PDF">
		<xs:restriction base="xs:base64Binary">
			<xs:maxLength value="5000000"/>
		</xs:restriction>	
	</xs:simpleType>
	<!--Beginn globale Typen Definitionen Allgemeine Daten JUSTIZ -->
	<xs:simpleType name="betrag">
		<xs:restriction base="xs:string">
			<xs:pattern value="-?[0-9]{1,12}(\.[0-9]{1,2})?"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Zeichensatz fuer Bezug -->
	<xs:simpleType name="zsBezug">
		<xs:restriction base="xs:string">
			<xs:maxLength value="25"/>
			<xs:minLength value="1"/>
			<xs:pattern value="[0-9a-zA-ZäÄöÖüÜß\- \.\+\(\)/%&amp;:;,§!=&apos;\*&quot;]{1,25}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alpha3">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{1,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="NAMETYPE">
		<xs:sequence>
			<xs:element name="Z" type="zsName38" maxOccurs="11"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="FNRTYPE">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{6}[a-z]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="rundungType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="T"/>
			<xs:enumeration value="M"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="precisionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="G"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="JN">
		<xs:restriction base="xs:string">
			<xs:enumeration value="j"/>
			<xs:enumeration value="n"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="JK">
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
			<xs:enumeration value="K"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GA">
		<xs:restriction base="xs:string">
			<xs:enumeration value="G"/>
			<xs:enumeration value="A"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="DARSTELLUNG">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RUNDUNG" type="rundungType"/>
				<xs:element name="GENAUIGKEIT" type="precisionType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GEB_BEFREIUNG">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ANTRAG" type="JN"/>
				<xs:element name="BETRAG" type="negativepositiveBetrag"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="waehrung">
		<xs:restriction base="xs:string">
			<xs:enumeration value="EUR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="form">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AG"/>
			<xs:enumeration value="EU"/>
			<xs:enumeration value="SC"/>
			<xs:enumeration value="SE"/>
			<xs:enumeration value="EWI"/>
			<xs:enumeration value="GEN"/>
			<xs:enumeration value="GES"/>
			<xs:enumeration value="KG"/>
			<xs:enumeration value="OG"/>
			<xs:enumeration value="PST"/>
			<xs:enumeration value="SON"/>
			<xs:enumeration value="SPA"/>
			<xs:enumeration value="VER"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="hgbform">
		<xs:restriction base="xs:string">
			<xs:enumeration value="UGB23"/>
			<xs:enumeration value="JAB"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="GJ">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BEGINN"/>
				<xs:element ref="ENDE"/>
				<xs:element ref="FORM" minOccurs="0"/>
				<xs:element ref="DARSTELLUNG" minOccurs="0"/>
				<xs:element name="NFI_PFLICHT" type="JN" minOccurs="0"/>
				<xs:element name="CG_PFLICHT" type="JN" minOccurs="0"/>
				<xs:element name="ALLG_ANMERKUNG" type="zsAllgemein1000" minOccurs="0"/>
				<xs:element ref="GEB_BEFREIUNG" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BEGINN" type="xs:date"/>
	<xs:element name="ENDE" type="xs:date"/>
	<xs:element name="FORM" type="form"/>
	<!-- Ende Globale -->
	<!-- Ende Globale  Allgemeine Daten JUSTIZ  -->
	<xs:element name="SPALTE_1" type="zsAllgemein38"/>
	<xs:element name="SPALTE_2" type="zsAllgemein38"/>
	<xs:element name="SPALTE_3" type="zsAllgemein38"/>
	<xs:element name="SPALTE_4" type="zsAllgemein38"/>
	<xs:element name="SPALTE_5" type="zsAllgemein38"/>
	<xs:element name="SPALTE_6" type="zsAllgemein38"/>
	<xs:element name="SPALTE_7" type="zsAllgemein38"/>
	<xs:element name="SPALTE_8" type="zsAllgemein38"/>
	<xs:element name="SPALTE_9" type="zsAllgemein38"/>
	<xs:element name="TEXT">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ANHANG" type="xs:string"/>
	<xs:complexType name="SPIEGEL">
		<xs:sequence>
			<xs:element name="SPALTE_1" type="negativepositiveBetrag" minOccurs="0"/>
			<xs:element name="SPALTE_2" type="negativepositiveBetrag" minOccurs="0"/>
			<xs:element name="SPALTE_3" type="negativepositiveBetrag" minOccurs="0"/>
			<xs:element name="SPALTE_4" type="negativepositiveBetrag" minOccurs="0"/>
			<xs:element name="SPALTE_5" type="negativepositiveBetrag" minOccurs="0"/>
			<!-- Da der Verbindlichkeitenspiegel in der Spalte 6 auch Text erlaubt, wurde diese Spalte als String mit max.255 Zeichen definiert. -->
			<xs:element name="SPALTE_6" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SPALTE_7" type="negativepositiveBetrag" minOccurs="0"/>
			<xs:element name="SPALTE_8" type="negativepositiveBetrag" minOccurs="0"/>
			<xs:element name="SPALTE_9" type="negativepositiveBetrag" minOccurs="0"/>
			<xs:element name="SPALTE_10" type="negativepositiveBetrag" minOccurs="0"/>
			<xs:element name="SPALTE_11" type="negativepositiveBetrag" minOccurs="0"/>
			<xs:element name="SPALTE_12" type="negativepositiveBetrag" minOccurs="0"/>
			<xs:element name="SPALTE_13" type="negativepositiveBetrag" minOccurs="0"/>
			<xs:element name="SPALTE_14" type="negativepositiveBetrag" minOccurs="0"/>
			<xs:element name="SPALTE_15" type="negativepositiveBetrag" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="POSTENZEILE_SIMPLE_FREI">
		<xs:sequence>
			<xs:element name="POSTENZEILE" type="POSTEN_FREI"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="POSTENZEILE_SIMPLE">
		<xs:sequence>
			<xs:element name="POSTENZEILE" type="POSTEN"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="POSTENZEILE_NEGATIVE_SIMPLE">
		<xs:sequence>
			<xs:element name="POSTENZEILE" type="POSTEN_NEGATIVE"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- Freier Posten (Element TEXT ist daher mandatory) mit positiven und negativen Beträgen - ohne Spiegel und ohne SubPosten -->
	<xs:complexType name="POSTEN_FREI">
		<xs:sequence>
			<xs:element name="BETRAG" type="negativepositiveBetrag"/>
			<xs:element name="BETRAG_VJ" type="negativepositiveBetrag" minOccurs="0"/>
			<xs:element ref="TEXT"/>
			<xs:element ref="ANHANG" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- Ein (nicht freier) Posten, mit negativen und positiven Beträgen - ohne Spiegel und ohne SubPosten -->
	<xs:complexType name="POSTEN">
		<xs:sequence>
			<xs:element name="BETRAG" type="negativepositiveBetrag"/>
			<xs:element name="BETRAG_VJ" type="negativepositiveBetrag" minOccurs="0"/>
			<xs:element ref="TEXT" minOccurs="0"/>
			<xs:element ref="ANHANG" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- Ein (nicht freier) Posten, mit ausschliesslich negativen Beträgen - ohne Spiegel und ohne SubPosten -->
	<xs:complexType name="POSTEN_NEGATIVE">
		<xs:sequence>
			<xs:element name="BETRAG" type="negativeBetrag"/>
			<xs:element name="BETRAG_VJ" type="negativeBetrag" minOccurs="0"/>
			<xs:element ref="TEXT" minOccurs="0"/>
			<xs:element ref="ANHANG" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="POSTENZEILE_SPIEGEL_FREI">
		<xs:sequence>
			<xs:element name="POSTENZEILE" type="POSTEN_SPIEGEL_FREI"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="POSTENZEILE_SPIEGEL">
		<xs:sequence>
			<xs:element name="POSTENZEILE" type="POSTEN_SPIEGEL"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- Freier Posten (Element TEXT ist daher mandatory) mit Spiegel, der positive und negative Beträge enthalten darf. -->
	<xs:complexType name="POSTEN_SPIEGEL_FREI">
		<xs:sequence>
			<xs:element name="BETRAG" type="negativepositiveBetrag"/>
			<xs:element name="BETRAG_VJ" type="negativepositiveBetrag" minOccurs="0"/>
			<xs:element ref="TEXT"/>
			<xs:element ref="ANHANG" minOccurs="0"/>
			<xs:element name="SPIEGELWERTE" type="SPIEGEL" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- Ein (nicht freier) Posten mit Spiegel, der positive und negative Beträge enthalten darf -->
	<xs:complexType name="POSTEN_SPIEGEL">
		<xs:sequence>
			<xs:element name="BETRAG" type="negativepositiveBetrag"/>
			<xs:element name="BETRAG_VJ" type="negativepositiveBetrag" minOccurs="0"/>
			<xs:element ref="TEXT" minOccurs="0"/>
			<xs:element ref="ANHANG" minOccurs="0"/>
			<xs:element name="SPIEGELWERTE" type="SPIEGEL" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="POSTENZEILE_FREI_SUB">
		<xs:sequence>
			<xs:element name="POSTENZEILE" type="POSTEN_FREI_SUB"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="POSTENZEILE_SUB">
		<xs:sequence>
			<xs:element name="POSTENZEILE" type="POSTEN_SUB"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="POSTENZEILE_NEGATIVE_SUB">
		<xs:sequence>
			<xs:element name="POSTENZEILE" type="POSTEN_NEGATIVE_SUB"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- Freier Posten (Element TEXT ist daher mandatory) mit positiven und negativen Beträgen - ohne Spiegel, aber mit SubPosten  -->
	<xs:complexType name="POSTEN_FREI_SUB">
		<xs:sequence>
			<xs:element name="BETRAG" type="negativepositiveBetrag"/>
			<xs:element name="BETRAG_VJ" type="negativepositiveBetrag" minOccurs="0"/>
			<xs:element ref="TEXT"/>
			<xs:element ref="ANHANG" minOccurs="0"/>
			<xs:element name="FREIER_SUB_POSTEN" type="POSTEN_FREI" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- Ein (nicht freier) Posten mit positiven und negativen Beträgen , ohne Spiegel, aber mit SubPosten  -->
	<xs:complexType name="POSTEN_SUB">
		<xs:sequence>
			<xs:element name="BETRAG" type="negativepositiveBetrag"/>
			<xs:element name="BETRAG_VJ" type="negativepositiveBetrag" minOccurs="0"/>
			<xs:element ref="TEXT" minOccurs="0"/>
			<xs:element ref="ANHANG" minOccurs="0"/>
			<xs:element name="FREIER_SUB_POSTEN" type="POSTEN_FREI" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- Ein (nicht freier) Posten mit ausschliesslich negativen Beträgen , ohne Spiegel, aber mit SubPosten  -->
	<xs:complexType name="POSTEN_NEGATIVE_SUB">
		<xs:sequence>
			<xs:element name="BETRAG" type="negativeBetrag"/>
			<xs:element name="BETRAG_VJ" type="negativeBetrag" minOccurs="0"/>
			<xs:element ref="TEXT" minOccurs="0"/>
			<xs:element ref="ANHANG" minOccurs="0"/>
			<xs:element name="FREIER_SUB_POSTEN" type="POSTEN_FREI" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="POSTENZEILE_SPIEGEL_SUB">
		<xs:sequence>
			<xs:element name="POSTENZEILE" type="POSTEN_SPIEGEL_SUB"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- Freier Posten (Element TEXT ist daher mandatory) mit positiven und negativen Beträgen - mit Spiegel und SubPosten(positive und nagtiv Beträge) -->
	<xs:complexType name="POSTEN_SPIEGEL_SUB_FREI">
		<xs:sequence>
			<xs:element name="BETRAG" type="negativepositiveBetrag"/>
			<xs:element name="BETRAG_VJ" type="negativepositiveBetrag" minOccurs="0"/>
			<xs:element ref="TEXT"/>
			<xs:element ref="ANHANG" minOccurs="0"/>
			<xs:element name="SPIEGELWERTE" type="SPIEGEL" minOccurs="0"/>
			<xs:element name="FREIER_SUB_POSTEN" type="POSTEN_SPIEGEL_FREI" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- Ein (nicht freier) Posten, mit positiven und negativen Beträgen - mit Spiegel und SubPosten(positive und negative Beträge) -->
	<xs:complexType name="POSTEN_SPIEGEL_SUB">
		<xs:sequence>
			<xs:element name="BETRAG" type="negativepositiveBetrag"/>
			<xs:element name="BETRAG_VJ" type="negativepositiveBetrag" minOccurs="0"/>
			<xs:element ref="TEXT" minOccurs="0"/>
			<xs:element ref="ANHANG" minOccurs="0"/>
			<xs:element name="SPIEGELWERTE" type="SPIEGEL" minOccurs="0"/>
			<xs:element name="FREIER_SUB_POSTEN" type="POSTEN_SPIEGEL_FREI" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>