app/utils/xml_schemas/HGBForm242_1XSD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="HGBForm3XSD.xsd"/>
	<xs:element name="HGB_Form_242_1">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="HGB_Form_242_1_1" minOccurs="0"/>
				<xs:element ref="HGB_Form_242_1_2" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_Form_242_1_1">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BETRAG" type="negativepositiveBetrag"/>
				<xs:element name="TEXT" type="FORM3_TEXTTYP" minOccurs="0"/>
				<xs:element ref="HGB_Form_242_1_1_4" minOccurs="0"/>
				<xs:element ref="HGB_Form_242_1_1_1" minOccurs="0"/>
				<xs:element ref="HGB_Form_242_1_1_3" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_Form_242_1_1_4" type="BETRAGTYP"/>
	<xs:element name="HGB_Form_242_1_1_1" type="BETRAGTYP"/>
	<xs:element name="HGB_Form_242_1_1_3" type="BETRAG_OPTIONAL_TEXT_OPTIONAL"/>
	<xs:element name="HGB_Form_242_1_2">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="HGB_Form_242_1_2_a" minOccurs="0"/>
				<xs:element ref="HGB_Form_242_1_2_b" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_Form_242_1_2_a">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="HGB_Form_242_1_2_a_1"/>
				<xs:element ref="HGB_Form_242_1_2_a_2"/>
				<xs:element ref="HGB_Form_242_1_2_a_3"/>
				<xs:element ref="HGB_Form_242_1_2_a_4"/>
				<xs:element ref="HGB_Form_242_1_2_a_5"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_Form_242_1_2_a_1" type="BETRAGTYP"/>
	<xs:element name="HGB_Form_242_1_2_a_2" type="BETRAG_TEXT_OPTIONAL"/>
	<xs:element name="HGB_Form_242_1_2_a_3" type="TEXTTYP"/>
	<xs:element name="HGB_Form_242_1_2_a_4" type="BETRAGTYP"/>
	<xs:element name="HGB_Form_242_1_2_a_5" type="TEXTTYP"/>
	<xs:element name="HGB_Form_242_1_2_b">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="HGB_Form_242_1_2_b_1"/>
				<xs:element ref="HGB_Form_242_1_2_b_2"/>
				<xs:element ref="HGB_Form_242_1_2_b_3"/>
				<xs:element ref="HGB_Form_242_1_2_b_4"/>
				<xs:element ref="HGB_Form_242_1_2_b_5"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HGB_Form_242_1_2_b_1" type="BETRAGTYP"/>
	<xs:element name="HGB_Form_242_1_2_b_2" type="BETRAG_TEXT_OPTIONAL"/>
	<xs:element name="HGB_Form_242_1_2_b_3" type="TEXTTYP"/>
	<xs:element name="HGB_Form_242_1_2_b_4" type="BETRAGTYP"/>
	<xs:element name="HGB_Form_242_1_2_b_5" type="TEXTTYP"/>
</xs:schema>
