app/utils/xml_schemas/HGBForm2XSD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="eBilanzPostenAllgemein.xsd"/>
	<xs:element name="HGB_Form_2">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="HGB_224_2">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="POSTENZEILE" type="POSTEN"/>
							<xs:element name="HGB_224_2_A">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="POSTENZEILE" type="POSTEN_SPIEGEL"/>
										<xs:element name="HGB_224_2_A_I" type="POSTENZEILE_SPIEGEL"/>
										<xs:element name="HGB_224_2_A_II" type="POSTENZEILE_SPIEGEL"/>
										<xs:element name="HGB_224_2_A_III" type="POSTENZEILE_SPIEGEL"/>
										<xs:element name="FREI" type="POSTENZEILE_SPIEGEL_FREI" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="HGB_224_2_B">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="POSTENZEILE" type="POSTEN"/>
										<xs:element name="HGB_224_2_B_I" type="POSTENZEILE_SIMPLE"/>
										<xs:element name="HGB_224_2_B_II">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="POSTENZEILE" type="POSTEN_SPIEGEL"/>
													<xs:element name="HGB_224_2_B_II_4_HGB_229" type="POSTENZEILE_SPIEGEL" minOccurs="0"/>
													<xs:element name="HGB_224_2_B_II_x_HGB_225b" type="POSTENZEILE_SIMPLE" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="HGB_224_2_B_III" type="POSTENZEILE_SIMPLE"/>
										<xs:element name="HGB_224_2_B_IV" type="POSTENZEILE_SIMPLE"/>
										<xs:element name="FREI" type="POSTENZEILE_SIMPLE_FREI" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="FREI" type="POSTENZEILE_SIMPLE_FREI" minOccurs="0"/>
							<xs:element name="HGB_224_2_C" type="POSTENZEILE_SIMPLE"/>
							<xs:element name="HGB_224_2_D" type="POSTENZEILE_SIMPLE" minOccurs="0"/> <!-- Optional, weil es in UGB-Form 4 nicht vorkommt -->
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="HGB_224_3">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="POSTENZEILE" type="POSTEN"/>
							<xs:element name="HGB_224_3_A">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="POSTENZEILE" type="POSTEN"/>
										<xs:choice>
											<xs:sequence> <!-- GMBH -->
												<xs:element name="HGB_229_1_A_I">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="POSTENZEILE" type="POSTEN"/>
															<xs:element name="HGB_224_3_A_I_a" type="POSTENZEILE_SIMPLE"/>
															<xs:element name="HGB_229_1_A_I_b" type="POSTENZEILE_NEGATIVE_SIMPLE" minOccurs="0"/>
															<xs:element name="HGB_229_1_A_I_c" type="POSTENZEILE_NEGATIVE_SIMPLE" minOccurs="0"/>
															<xs:element name="HGB_229_1_A_I_a" type="POSTENZEILE_SIMPLE"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
											<xs:sequence>	<!-- KG -->
												<xs:element name="XXX_224_3_A_I_X" type="POSTENZEILE_SIMPLE"/>
												<xs:element name="XXX_224_3_A_I_Y" type="POSTENZEILE_SIMPLE"/>
											</xs:sequence> <!-- OG -->
											<xs:element name="XXX_224_3_A_I_T" type="POSTENZEILE_SIMPLE"/>
										</xs:choice>
										<xs:element name="HGB_224_3_A_II" type="POSTENZEILE_SPIEGEL"/>
										<xs:element name="XXX_224_3_D_X" type="POSTENZEILE_SPIEGEL" minOccurs="0"/>
										<xs:element name="HGB_224_3_A_III" type="POSTENZEILE_SPIEGEL"/>
										<xs:element name="HGB_224_3_A_V" type="POSTENZEILE_SPIEGEL" minOccurs="0"/>
										<xs:element name="HGB_224_3_A_IV">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="POSTENZEILE" type="POSTEN"/>
													<xs:element name="HGB_224_3_A_IV_x" type="POSTENZEILE_SIMPLE"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="FREI" type="POSTENZEILE_SIMPLE_FREI" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="XXX_224_3_B_X" type="POSTENZEILE_SPIEGEL" minOccurs="0"/>
							<xs:element name="XXX_224_3_Y" type="POSTENZEILE_SIMPLE" minOccurs="0"/>
							<xs:element name="HGB_224_3_C" type="POSTENZEILE_SPIEGEL"/>
							<xs:element name="XXX_224_3_X" type="POSTENZEILE_SIMPLE" minOccurs="0"/>
							<xs:element name="HGB_224_3_D">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="POSTENZEILE" type="POSTEN_SPIEGEL"/>
										<xs:element name="HGB_224_3_D_HGB_225b" type="POSTENZEILE_SIMPLE" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="FREI" type="POSTENZEILE_SIMPLE_FREI" minOccurs="0"/>
							<xs:element name="HGB_224_3_E" type="POSTENZEILE_SIMPLE"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
